<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main class="bg-red-500 h-screen w-screen">
      <div class="bg-gray-800 rounded-xl shadow-sm w-[75vw] h-[75vh]">
        <span class="text-blue-600">Kelas abangku! Manyala</span>
      </div>

      <!-- Dropdown -->
      <div class="card flex justify-content-center">
        <p-multiSelect
          [options]="cities"
          [(ngModel)]="selectedCities"
          optionLabel="name"
          placeholder="Select Cities"
        />
      </div>

      <!-- Input Group -->
      <div class="card flex flex-column md:flex-row gap-3">
        <p-inputGroup>
          <p-inputGroupAddon>
            <i class="pi pi-user"></i>
          </p-inputGroupAddon>
          <input pInputText placeholder="Username" />
        </p-inputGroup>
        <p-inputGroup>
          <p-inputGroupAddon>$</p-inputGroupAddon>
          <input type="text" pInputText placeholder="Price" />
          <p-inputGroupAddon>.00</p-inputGroupAddon>
        </p-inputGroup>
        <p-inputGroup>
          <p-inputGroupAddon>www</p-inputGroupAddon>
          <input type="text" pInputText placeholder="Website" />
        </p-inputGroup>
      </div>
    </main>
  </body>
</html>
